cirq==1.2.0
cirq_core==1.2.0
my==1.3.0
networkx==2.8.7
numpy==1.23.1
qiskit==0.42.1
qiskit_aer==0.12.0
qiskit_ibmq_provider==0.20.2
qiskit_terra==0.23.3
qsimcirq==0.16.3
scipy==1.9.1
tensornetwork==0.4.6
